:root {
    --primary-colour: #222831;
    --secondary-colour: #393E46;
    --tertiary-colour: #00ADB5;
    --quarternary-colour: #EEEEEE;
}

.portrait {
    border-radius: 50%;
}

.centered-row {
    justify-content: space-between;
}

.profile {
    display: flex;
    justify-content: flex-end;
}

.skill-icon {
    max-height: 10vh;
    width: 10vh;
    filter: invert(42%) sepia(91%) saturate(1911%) hue-rotate(151deg) brightness(98%) contrast(101%);
}

footer {
    background-color: var(--primary-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h2{
    color: var(--quarternary-colour);
    font-size: 1.5rem;
}

.contact-icon {
    filter: invert(42%) sepia(91%) saturate(1911%) hue-rotate(151deg) brightness(98%) contrast(101%);
    height: 1rem;
    width: 1rem;
}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: none;
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
    height: 20vh;
}

.skills-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill-title {
    font-weight: bold;
}

.skill-body {
    text-align: center;
}

.navbar {
    background-color: var(--primary-colour);
}

h1, h2 {
    font-family: "Helvetica", "Roboto", sans-serif;
    color: var(--primary-colour);
}

p, li{
    font-family: "Open Sans", "Roboto", sans-serif;
    color: var(--secondary-colour);
}

li {
    list-style: none;
}

.section-heading {
    display: flex;
    justify-content: center;
}

h2 {
    font-weight: bold;
}

.project-image {
    height: 20vh;
}

.main-section {
    margin-top: 15vh;
}

.contact-link {
    text-decoration: none;
    color: var(--secondary-colour);
}

h3 {
    font-size: 1.5rem;
}

