.portrait {
    border-radius: 50%;
}

.centered-row {
    justify-content: space-between;
}

.profile {
    display: flex;
    justify-content: flex-end;
}

.skill-icon {
    max-height: 10vh;
    width: auto;
    filter: invert(42%) sepia(91%) saturate(1911%) hue-rotate(151deg) brightness(98%) contrast(101%);
}
